{% extends 'base.html' %}

{% block title %}Event information{% endblock %}
{% block h1 %}本棚アプリ{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-9">
      {% for month in data %}
      {% for item in month %}
      <a href="{% url 'detail' item.pk %}">
        <div class="p-4 m-4 bg-light border border-success rounded ivent mt-3">
          <img src="{{ item.thumbnail.url }}" class="img-thumbnail" />
          <div class="ivent_inform">
          <h2 class="text-success">{{ item.title }}</h2>
          <p>期間：{{ item.start }} ~ {{ item.end }}</p>
          <h6>カテゴリ：{{ item.category }}</h6>
          <p>{{item.text}}</p>
            {% csrf_token %}
        </form>        
        </div>
        </div>
      </a>
      {% endfor %}
      {% endfor %}
    </div>
{% endblock %}
