{% extends "base.html" %}


{% block title %}Search{% endblock title %}


{% block content %}
    {% for object in object_list %}
        <div class="card my-3">
            <div class="card-body">
                <a href="{% url 'detail' object.id %}">
                    <div class="p-4 m-4 bg-light border border-success rounded ivent mt-3">
                      <img src="{{ object.thumbnail.url }}" class="img-thumbnail" />
                      <div class="ivent_inform">
                      <h2 class="text-success">{{ object.title }}</h2>
                      <p>期間：{{ object.start }} ~ {{ object.end }}</p>
                      <h6>カテゴリ：{{ object.category }}</h6>
                      <p>{{ object.text}}</p>
                    </div>
                    </div>
                  </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}